@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --root-color: black;
  --base-color: #1a3c40;
  --secondary-color: #417d7a;
  --accent-color: #ede6db;
  --mute-color: #1d5c63;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
}

.container {
  width: 95%;
  margin: 0 auto;
  min-height: 100vh;
}

/* HEADER STYLES */
.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 4em;
  font-size: 1rem;
}

.header .logo {
  font-size: 2rem;
  font-weight: 300;
}

.header .nav-list {
  list-style-type: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0;
  min-width: 200px;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90px;
}

.nav-item-link-logo {
  text-decoration: none;
  color: black;
}

.nav-item-menu-icon {
  display: none;
  font-size: 1.4rem;
  color: black;
}

.nav-item-link {
  text-decoration: none;
  color: black;
}

.responsive-links {
  width: 100vw;
  height: 12rem;
  background-color: rgba(141, 208, 177, 0.365);
  margin-bottom: 2rem;
  padding: 0.7rem;
  font-size: 14px;
  margin-top: -5rem;
  padding-top: 5rem;
}

.responsive-links a {
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
  .nav-item-link:hover {
    color: var(--mute-color);
  }
}

/*Media Query to Show Menu Button on Small Screens*/
@media screen and (max-width: 600px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .header .logo {
    font-size: 1.5rem;
  }
  .header .nav-item:not(:last-child) {
    display: none;
  }
  .header .nav-item-menu-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
  }
  .header .nav-item-menu-icon:hover {
    cursor: pointer;
  }

  .nav-item-link {
    padding: 0.6rem 0;
  }
}
