@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --root-color: black;
  --base-color: #1a3c40;
  --secondary-color: #417d7a;
  --secondary-color-opaque: #417d7a28;
  --accent-color: #ede6db;
  --mute-color: #1d5c63;
  --mute-color-hover: #1d5c63c8;
  --radius: 10px;
  --happy: #92b4ec;
  --sad: #4d4c7d;
  --mad: #a25b5b;
  --heartbreak: #a91079;
  --hysterical: #069a8e;
  --blah: #ff7700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
}

.container {
  width: 95%;
  margin: 2rem auto;
  min-height: 100vh;
}

/* HEADER STYLES */
.header {
  padding: 2rem 2rem 2.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 4em;
  font-size: 1rem;
  -webkit-box-shadow: 0px 0px 8px rgb(170, 170, 170);
  -moz-box-shadow: 0px 0px 8px rgb(187, 187, 187);
  box-shadow: 0px 0px 8px rgb(187, 187, 187);
}

.header .logo {
  font-size: 2rem;
  font-weight: 300;
}

.header .nav-list {
  list-style-type: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0;
  min-width: 200px;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90px;
}

.nav-item-link-logo {
  text-decoration: none;
  color: black;
}

.home-icon {
  font-size: 1.4rem;
}

.nav-item-menu-icon {
  display: none;
  font-size: 1.4rem;
  color: black;
}

.nav-item-link {
  text-decoration: none;
  color: black;
}

.responsive-links {
  width: 100%;
  min-height: 5rem;
  background-color: var(--secondary-color-opaque);
  margin-bottom: 2rem;
  font-size: 14px;
  margin-top: -1rem;
  padding: 0.5rem 0.7rem;
}

.responsive-links a {
  color: rgb(0, 0, 0);
}

/*****************************************/

/* REGISTER PAGE STYLES */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  min-height: 30vh;
  margin: 4rem auto;
  background-color: var(--secondary-color-opaque);
  border-radius: var(--radius);
}

.auth-container .heading {
  width: 100%;
  padding: 1rem;
  color: var(--primary-color);
}

.auth-container .heading h1 {
  font-size: 2rem;
  font-weight: 300;
}

.auth-container .heading p {
  font-size: 14px;
  padding: 0.4rem 0;
  color: var(--secondary-color);
}

.auth-container .form {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.auth-container .form .form-group {
  width: 100%;
  border-radius: 3px;
  height: 3rem;
  margin-bottom: 1rem;
}

.auth-container .form .form-group input {
  width: 100%;
  border-radius: 3px;
  border: none;
  height: 100%;
  padding: 0 0 0 1rem;
}

.btn {
  border-radius: var(--radius);
  border: none;
  background-color: var(--mute-color);
  color: var(--accent-color);
  display: block;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--mute-color-hover);
}

.auth-container .form .form-group .btn {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.nav-item-logout {
  list-style: none;
  padding: 0.6rem 0;
}

.nav-item-logout:hover {
  cursor: pointer;
}

.logout-btn {
  background-color: var(--base-color);
  height: 2.5rem;
  padding: 0.8rem;
  border-radius: var(--radius);
  color: white;
}

.logout-btn:hover {
  cursor: pointer;
  background-color: rgb(105, 105, 105);
}

/* LANDING PAGE STYLES*/
.hero {
  margin: 8rem auto 0 auto;
  max-width: 90rem;
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.cta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cta-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta #cta-heading {
  font-size: 4rem;
  font-weight: 500;
}

.cta #cta-slogan {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 300;
}

.cta .cta-start {
  width: 9rem;
  height: 3.5rem;
  margin-top: 4rem;
  font-size: 1rem;
}

#mental-img {
  width: 30rem;
  height: 30rem;
}

#click-img {
  width: 25rem;
  height: 25rem;
}

.explain {
  margin: 0 auto;
  max-width: 90rem;
  min-height: 28rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.explain-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sell p {
  padding-top: 2rem;
  line-height: 1.7rem;
}

/* DASHBOARD STYLES */
.dashboard-heading h1 {
  font-size: 2.1rem;
  padding-bottom: 1rem;
}

.no-affirmations,
.loading-affirmations {
  width: 15rem;
  height: 5rem;
  margin: 4rem auto;
  text-align: center;
}

.no-affirmations h4 {
  font-size: 1.8rem;
}

.no-affirmations p {
  margin-top: 0.8rem;
}

.dashboard-affirmations-container {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--primary-color);
  align-items: flex-start;
}

.affirmation-card {
  width: 20rem;
  min-height: 20rem;
  border: 1px solid var(--secondary-color-opaque);
  display: flex;
  flex-direction: column;
  background-color: #eee;
  position: relative;
  border-radius: var(--radius);
  margin: 1rem 0;
}

.affirmation-card .image {
  width: 100;
  height: 10rem;
  border-radius: var(--radius);
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.affirmation-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.affirmation-card .affirmation {
  min-height: 5rem;
  display: flex;
  padding: 1rem;
  margin: 0 0 2rem 0;
  justify-content: left;
  flex-direction: column;
}

.affirmation-card .update-box {
  margin-top: 1.3rem;
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.affirmation-card .update-box i:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
  transition: 0.3s;
}

.affirmation-card .update-box i:nth-child(2) {
  margin-left: 1.5rem;
}

.affirmation .affirmation-text {
  font-size: 1rem;
  font-weight: 400;
}

.affirmation .affirmation-moods {
  min-height: 3.3rem;
  display: flex;
  align-items: center;
}

.affirmation .affirmation-moods i {
  font-size: 2rem;
}
/* AFFIRMATION FORM STYLES */
.affirmation-form {
  width: 100%;
  min-height: 20rem;
  background-color: var(--secondary-color-opaque);
  border-radius: var(--radius);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}

.affirmation-form .affirmation-box {
  width: 40%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  margin: 2rem 0;
  color: var(--primary-color);
}

.affirmation-form .affirmation-box input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding: 0 1rem;
}

.mood-icon {
  font-size: 2.8rem;
}

.mood-icon:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
  transition: 0.3s;
}

.happy {
  color: var(--happy);
}
.sad {
  color: var(--sad);
}
.mad {
  color: var(--mad);
}
.heartbreak {
  color: var(--heartbreak);
}
.hysterical {
  color: var(--hysterical);
}
.blah {
  color: var(--blah);
}

.affirmation-form .mood-box {
  width: 40%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.affirmation-form button {
  width: 9rem;
  margin-top: 1rem;
  height: 2.8rem;
}

/*****************************************/
@media screen and (min-width: 600px) {
  .nav-item-link:hover {
    color: var(--mute-color);
  }
}

/*Media Query to Show Menu Button on Small Screens*/
@media screen and (max-width: 600px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .header {
    box-shadow: none;
  }

  .header .logo {
    font-size: 1.5rem;
  }
  .header .nav-item:not(:last-child) {
    display: none;
  }
  .header .nav-item-menu-icon {
    display: block;
    position: absolute;
    right: 0.9rem;
    top: 1rem;
    font-size: 1.5rem;
  }
  .header .nav-item-menu-icon:hover {
    cursor: pointer;
  }

  .nav-item-link {
    padding: 0.6rem 0;
  }

  .auth-container {
    margin: 2rem auto;
    overflow-y: hidden;
  }

  .auth-container .form .form-group .btn {
    width: 100%;
    height: 2.3rem;
    margin-top: 2rem;
    font-size: 0.9rem;
  }

  .hero {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .explain {
    margin: 1rem auto 0.5rem auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .explain-image {
    display: none;
  }

  .sell {
    grid-row-start: 1;
  }
  .sell h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .sell p {
    text-align: center;
    padding: 2rem;
  }

  .cta {
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .cta-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mental-img {
    width: 15rem;
    height: 15rem;
  }

  .cta #cta-heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .cta #cta-slogan {
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: 300;
  }

  .cta .cta-start {
    width: 80%;
    height: 2.3rem;
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
